body {
    /* homefully this scales on mobile */
    font-size: 5.5mm;
    background-color: darkgreen;
    word-wrap: break-word;
}

#content {
    max-width: 1000px;
    height: 100%;
    /* top right bottom left */
    margin: 20px auto 20px auto;
    padding: 5px 6% 5px 6%;
    background-color: white;
    border: 2px solid darkgreen;
    box-shadow: 5px 5px black;
    background-color: mintcream;
}

table {
    border: 1px solid black;
    width: 100%;
    max-width: 600px;
    min-width: 300px;
    margin: 20px auto 30px auto;
    background-color: mintcream;
    box-shadow: 5px 5px black;
    margin: 20px auto 30px auto;
    font-size: 85%;

}

th, td {
    border: 1px solid black;
    padding: 7px 12px 7px 12px;
}

.chart {
    border: 0 solid #FFFFFFFF;
    width: auto;
    background-color: transparent;
    box-shadow: 0px 0px;
}

.define {
    width: 100%;
    max-width: none;
    min-width: none;
}

.text-norm {
    color: black;
    text-decoration: none;
}

.text-norm:hover {
    text-shadow: 2px 2px #00640044;
    transition-duration: 0.3s;
}

.text-hr {
    max-width: 80%;
    text-align: center;
    border-bottom: 1px solid #000;
    line-height: 0.1em;
    margin: 60px auto 40px auto;
    white-space: nowrap;
}

.text-hr span {
    background: mintcream;
    padding: 0 10px;
}

pre {
    border: 2px solid black;
    padding: 10px;
    max-width: 600px;
    min-width: 300px;
    white-space: pre-wrap;
    margin: 20px auto 30px auto;
    font-size: 75%;
    background-color: mintcream;
    box-shadow: 5px 5px black;
}

h1, h2, h4, h6 {
    text-align: center;
}

@media screen and (max-width: 500px) {
    table, th, td {
        font-size: 80%;
    }

    pre {
        min-width: 200px;
        font-size: 50%;
    }

    p, h3 {
        font-size: 90%;
    }

    .text-hr {
        max-width: 95%;
    }
}
