<!-- <div align="center">
    <table class="chart">
        <thead>
            <tr>
                <td bgcolor="lightcyan">
                    {% for cl in page.chart-left %}
                        {{ cl }}
                        {% if forloop.last == false %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>

                {% assign crsize = page.chart-right | size %}
                {% if crsize != 0 %}
                <td style="border: 0 solid #FFFFFFFF;">used in</td>

                <td bgcolor="lightgreen">
                    {% for cr in page.chart-right %}
                        {{ cr }}
                        {% if forloop.last == false %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>

            {% assign cl2size = page.chart2-left | size %}
            {% if cl2size != 0 %}
            <tr>
                <td bgcolor="lightcyan">
                    {% for cl in page.chart2-left %}
                        {{ cl }}
                        {% if forloop.last == false %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>

                {% assign crsize = page.chart2-right | size %}
                {% if crsize != 0 %}
                <td style="border: 0 solid #FFFFFFFF;">used in</td>

                <td bgcolor="lightgreen">
                    {% for cr in page.chart2-right %}
                        {{ cr }}
                        {% if forloop.last == false %}
                            <br>
                        {% endif %}
                    {% endfor %}
                </td>
                {% endif %}
            </tr>
            {% endif %}
        </thead>
    </table>
</div> -->
