
<div>
    <h3 class="text-hr"><span><a class="text-norm" href="{{ 'about.html' | baseurl }}">About</a></span></h3>
    <h3 class="text-hr"><span><a class="text-norm" href="{{ 'define.html' | baseurl }}">Definitions</a></span></h3>
    <br>
    {%- assign prevLetter = "A" -%}
    {%- for navpage in site.refs -%}

        {%- if page.permalink != navpage.permalink and navpage.title != "VHDL Reference" and navpage.title != "" -%}

            {%- assign currLetter = navpage.title | slice: 0 -%}
            {% if prevLetter != currLetter %}
                <br>
            {% endif %}

            <h3 class="text-hr"><span><a class="text-norm" href="{{ navpage.permalink | baseurl }}">{{ navpage.title }}</a></span></h3>

            {%- assign prevLetter = navpage.title | slice: 0 -%}

        {%- endif -%}

    {%- endfor -%}
    <br>
    <h3 class="text-hr"><span><a class="text-norm" href="{{ 'contents.html' | baseurl }}">Index</a></span></h3>
<br><br>
</div>
