
<div>
    <h3 class="text-hr"><span><a class="text-norm" href="{{ 'about.html' | baseurl }}">About</a></span></h3>
    <h3 class="text-hr"><span><a class="text-norm" href="{{ 'define.html' | baseurl }}">Definitions</a></span></h3>
    <br>

    {%- for navpage in site.refs -%}

        {%- if page.permalink != navpage.permalink and navpage.title != "VHDL Reference" and navpage.title != "" -%}

            <h3 class="text-hr"><span><a class="text-norm" href="{{ navpage.permalink | baseurl }}">

            {%- if navpage.title-short -%}
                {{ navpage.title }}
            {%- else -%}
                {{ navpage.title }}
            {%- endif -%}
            </a></span></h3>

        {%- endif -%}

    {%- endfor -%}
    <br>
    <h3 class="text-hr"><span><a class="text-norm" href="{{ 'contents.html' | baseurl }}">Index</a></span></h3>
<br><br>
</div>
