{%- assign tagEnableFlag = 0 -%}
{%- assign prevRef = "" -%}
{%- for refs in site.refs -%}
    {%- for pageTag in page.tags -%}
        {%- if refs.title != page.title and refs.tags contains pageTag and refs.title != prevRef -%}
            {%- if tagEnableFlag == 0 -%}
                <h3 class="text-hr"><span>See Also</span></h3>
                {%- assign tagEnableFlag = 1 -%}
            {%- endif -%}
            <a href="{{ refs.permalink | baseurl }}">{{ refs.title }}</a><br>
            {%- assign prevRef = refs.title -%}
        {%- endif -%}
    {%- endfor -%}
{%- endfor -%}
